body {
  margin: 0;
  background: #f3f3f3;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  min-height: 100vh;
}

.login-container {
  display: flex;
  width: 90%;
  max-width: 1400px;
  height: 90vh; /* Bukan min-height lagi */
  margin: 30px auto;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.left-panel,
.right-panel {
  flex: 1;
  height: 100%;
}

.left-panel {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #356ac3;
}